##---- Códigos de tratamento de dados ----##

BASEDOSDADADOS_PROJECT_ID='insira-seu-project-id'
ROOT_DIR='insira-root-dir-projeto'


##---- Postgres -----##

# arquivo env para postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=csalpha_secundario
POSTGRES_PORT=5432

# Application Settings
APP_ENV=development
DEBUG=true

# Some configs to improve memory capacity
PG_SHARED_BUFFERS=256MB
PG_WORK_MEM=64MB
PG_MAINTENANCE_WORK_MEM=128MB


##---- PGAdmin -----##
#configs docker compose local
PGADMIN_DEFAULT_EMAIL='csalpha@gmail.com'
PGADMIN_DEFAULT_PASSWORD='test1234'
PGADMIN_PORT=5050