# arquivos com credenciais
.env

# scripts
test.ipynb

# folders
temp/

# arquivos de configuração
.python-version

# arquivos temporários
br_csalpha_access
prodlist_industria.xlsx
prodlist_pesca.xlsx
# cache
__pycache__